<ion-view class="{{m.style}}" view-title="My Page">
  <ion-header-bar align-title="left" class="panel-header df jcsb">
    <div class="lt df" ng-click="goBack()">
      <i class="icon iconfont asc">&#xe64d;</i>
    </div>
    <div class="ct asc">设备列表</div>
    <div class="rt df">
      <div class="h asc">+</div>
      <div class="b" ng-show="false">
        <div class="i df jcc" ng-click='state.go("app.order")'>
          <div class="l df">
            <i class="icon iconfont asc">&#xe64f;</i>
          </div>
          <div class="r asc">
            我要咨询
          </div>
        </div>
        <div class="i df jcc" ng-click='toScan()'>
          <div class="l df">
            <i class="icon iconfont asc">&#xe604;</i>
          </div>
          <div class="r asc">
            扫&nbsp;&nbsp;一&nbsp;&nbsp;扫
          </div>
        </div>
      </div>
    </div>
  </ion-header-bar>
  <ion-content>
    <ul>
      <li ng-repeat="item in m.lists">{{item.name}}</li>
    </ul>
    <button>click me</button>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-assertive">
    footer
  </ion-footer-bar>
</ion-view>
