.panel-app{
  background: red;
}
:global(.df) {
  display: flex;
}
:global(.jcsb) {
  justify-content: space-between;
}
:global(.jcc) {
  justify-content: center;
}
:global(.aic) {
  align-item: center;
}
:global(.asc) {
  align-self: center;
}
:global(.fdc) {
  flex-direction: column;
}
